extends template.pug
block head
  title Files in #{directory}
block body
  .content
    .fch
      h1 Files in #{directory}
    .fch
      p There are #{files.length} files in #{directory}
    hr
    .fch
      ul
        for file in files
          li #[a(href=`/files/${file}`) #{file}]
